/* * {
  overflow-x: hidden;
} */

.covid-list-con {
  overflow-y: scroll;
  padding: 10px;
  margin: 10px;
  background-color: rgb(243, 243, 243);
  width: 98%;
  border-collapse: collapse;
}

.table {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: none;
  display: flex;
  justify-content: center;
}

th {
  /* padding: 10px; */
  border: 1px solid #dddddd;
  background-color: #282c34;
  height: 60px;
}
th h3 {
  color: #60d8f9;
}

tr {
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #32363e;
  color: white;
}

td {
  padding: 10px;
  border: 1px solid #dddddd;
}

.search-input {
  border: none;
  padding: 15px;
  /* margin: 10px; */
  height: 50px;
  width: 100%;
  /* position: fixed; */
  background-color: #20232a;
  color: #60d8f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.25s;
  font-size: 20px;
  margin-bottom: 10px;
}

.search-input:focus {
  background-color: #2f424c;
  border: 1px solid #60d8f9 !important;
  /* margin: 5px; */
  /* width: 98.5%; */
}

.see-more {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  background-color: #60d8f9;
  border: px solid #20232a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.see-more:hover {
  transform: scale(1.1);
}

.back {
  position: fixed;
  bottom: 100px;
  right: 70px;
  width: 100px;
}

@media only screen and (max-width: 830px) {
  .back {
    bottom: 30px;
    right: 30px;
  }
  .table h3 {
    font-size: 13px;
  }
  .table tr {
    font-size: 10px;
  }
  .table button {
    font-size: 10px;
    padding: 3px 5px;
  }
  .table img {
    width: 50px !important;
    height: 27.5px !important;
  }
  .search-input {
    font-size: 13px;
    padding: 10px;
    height: 40px;
  }
}

@media only screen and (max-width: 496px) {
  .table button {
    font-size: 9px;
    padding: 3px 5px;
    width: 50px;
  }

  .table h3 {
    font-size: 12px;
  }
  .table tr {
    font-size: 9px;
  }

  .table img {
    width: 45px !important;
    height: 22.5px !important;
  }
  .table td {
    padding: 3px;
  }
  .covid-list-con {
    padding: 3px;
  }
}
